[Unit]
Description=Python Service

[Service]
ExecStart=/usr/bin/python3.7 /usr/local/lib/test-pyt-ser/service.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Type=notify
User=test-pyt-ser

[Install]
WantedBy=default.target
